@tailwind base;
@tailwind components;
@tailwind utilities;

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjust the gap between items as needed */
}

.product-list {
  margin-top: 150px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  width: 200px; /* Adjust the width of each product card as needed */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h4 {
  margin: 0;
}

button {
  margin-top: 10px; /* Adjust the margin as needed */
  padding: 5px 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}
